---
layout: default
---

<div class="flex-center" id="content-wrapper" style="transform: none;"><div class="container row-x1" style="transform: none;">

  <nav aria-label="Breadcrumb" class="py-5 mb-4">
    <ol class="list-none flex">
      <li class="text-navysciam text-xl font-medium">
        <a href="/" class="hover:underline">Accueil</a>
      </li>
      <li class="text-navysciam mx-2 text-xl font-medium">
        <span aria-hidden="true">/</span>
      </li>
      <li class="text-lightbluesciam text-xl font-medium">
        {{ page.autopages.display_name }}
      </li>
    </ol>
  </nav>

<div class="queryMessage data-tag-name="{% if page.autopages %}{{ page.autopages.display_name }}{% endif %}" ">
  <span class="query-info query-label query-success"># {{ page.autopages.display_name }}</span>
</div>
  
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for post in paginator.posts %}
<article class="blog-post hentry index-post post-{{ forloop.index0 }}">
<a class="entry-image-wrap is-image" href="{{ post.url | relative_url }}" title="{{ post.title }}">
{% if post.vignette %}
{% assign bg_url = '/images/vignettes/' | append: post.vignette | relative_url %}
<span class="entry-thumb lazy-ify" data-image="{{ bg_url }}" style="background-image:url({{ bg_url }})"></span>
{% endif %}
</a>
        <div class="px-12 py-6 flex flex-col justify-center">
          <h3 class="text-xl font-sans text-navysciam font-bold mb-2"><a href="{{ post.url | relative_url }}">{{
              post.title
              }}</a></h3>
          {% assign author = site.data.authors[post.author] %}
          <div class="flex text-sm text-gray-500">
            <div class="flex flex-col pl-4">
              <span class="text-base font-bold text-navysciam"><a
                  href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{
                  author.name }}</a></span>
              <div class="flex">
                <span class="text-base font-normal text-navysciam">{{ post.date | date: "%d/%m/%Y" }}</span>
                <p class="text-navysciam pl-2">• {{ post.content | reading_time | pluralize: "min" }} de
                  lecture</p>
              </div>
            </div>
          </div>
<p class="entry-excerpt excerpt">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        </div>
      </div>
      {% endfor %}
</article>

    {% if paginator.total_pages > 1 %}
    <ul class="flex justify-center list-none mt-6">
      {% if paginator.previous_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Articles suivants &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

  
</div></div>
