---
layout: default
pagination:
  enabled: true
---

<div class="flex-center" id="content-wrapper" style="transform: none;"><div class="container row-x1" style="transform: none;">
  {% assign posts = paginator.posts %}
  {% assign category_name = "Tous les articles" %}
  {% assign navigation = site.data.navigation %}
 
  {% if page.url contains '/category/news/' %}
    {% assign posts = paginator.posts | where_exp: "post", "post.categories contains 'news'" %}
    {% assign category_name = "Sujets d'actualité" %}
  {% elsif page.url contains '/category/' %}
    {% assign category_segments = page.url | split: '/' %}
    {% if category_segments.size > 2 %}
      {% assign category_id = category_segments[2] %}
      {% for nav_item in navigation %}
        {% if nav_item.url contains category_id %}
          {% assign category_name = nav_item.title %}
        {% endif %}
      {% endfor %}
      {% assign posts = paginator.posts | where_exp: "post", "post.categories contains category_id" %}
      {% assign paginate_path = '/category/' | append: category_id | append: '/:num/' %}
      {% assign first_page_path = '/category/' | append: category_id %}
      {% else %}  
    {% assign paginate_path = '/posts/:num/' %}
    {% assign first_page_path = '/posts/' %}  
    {% endif %}
  {% else %}
    {% assign paginate_path = '/posts/:num' %}
    {% assign first_page_path = '/posts/' %}
  {% endif %}
  
  <nav aria-label="Breadcrumb" class="py-5">
    <ol class="list-none flex">
      <li class="text-navysciam text-xl font-medium">
        <a href="/" class="hover:underline">Accueil</a>
      </li>
      <li class="text-navysciam mx-2 text-xl font-medium">
        <span aria-hidden="true">/</span>
      </li>
      <li class="text-lightbluesciam text-xl font-medium">
        {{ category_name }}
      </li>
    </ol>
  </nav>

  <div
    class="bg-gradient-to-r from-navysciamdark via-navysciam to-navysciamlight py-14 md:py-14 px-8 md:px-8 text-left mb-10 rounded-lg">
    <h1 class="text-white text-4xl font-sans font-bold">
      {{ category_name }}
    </h1>
  </div>

  <div>
    {% if posts and posts.size > 0 %}
    <div class="blog-posts hfeed index-post-wrap" id="post-list">
      {% for post in paginator.posts %}
      <article class="blog-post hentry index-post post-{{ forloop.index0 }}">
<a class="entry-image-wrap is-image" href="{{ post.url | relative_url }}" title="{{ post.title }}">
        {% if post.vignette %}
        {% assign bg_url = '/images/vignettes/' | append: post.vignette | relative_url %}
<span class="entry-thumb lazy-ify" data-image="{{ bg_url }}" style="background-image:url({{ bg_url }})"></span>
{% endif %}
</a>
<div class="entry-header">
{% if post.auteurs and post.auteurs.size > 1 %}
<div>
            <strong>
              {% for auteur in post.auteurs %}
              {% assign author = site.data.authors[auteur] %}
              {% if author.name %}
              {% if forloop.first %}
              {% elsif forloop.last %}
              et
              {% else %}
              ,
              {% endif %}
              <span><a href="{{ '/author/' | append: auteur | append: '/index.html' | relative_url }}">{{ author.name }}</a></span>
              {% endif %}
              {% endfor %}
            </strong>
          </div>
          {% elsif post.author %}
          {% assign author = site.data.authors[post.author] %}
          {% if author.name %}
          <div class="flex text-sm text-gray-500 mb-4">
            {% if author.picture %}
            <img class="rounded-full w-11 h-11 inline"
              src="{{ '/images/authors/' | append: author.picture | relative_url }}" alt="{{ author.name }}">
            {% endif %}
            <div class="flex flex-col pl-4">
              <span class="text-base font-bold text-navysciam"><a
                  href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{
                  author.name }}</a></span>
              <div class="flex">
                <span class="text-base font-normal text-navysciam">{{ post.date | date: "%d/%m/%Y" }}</span>
                {% unless post.vimeo-id %}
                <p class="text-navysciam pl-2">• {{ post.content | reading_time | pluralize: "min" }} de
                  lecture</p>
		{% endunless %}
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
<span class="entry-category">{{ post.categories | join: ', ' }}</span>
<h2 class="entry-title"><a class="entry-title-link" href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
          <p class="line-clamp-3">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        </div>
      </article>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
  </div>
	
  {% include pagination.html %}
	
</div></div>
