---
layout: default
pagination:
  enabled: true
---
{% include ads/header-ads-wrap.html %}
<div class="relative min-h-screen mb-10 px-3 lg:px-28 md:px-28 bg-grayBgSciam overflow-visible">
  <div class="grid grid-cols-12 gap-4 py-16 md:py-10">
    <!-- Information Block -->
    <div class="order-2 md:order-1 col-span-12 md:col-span-6 text-navysciam p-8 flex flex-col justify-between">
      <div>
        <p class="text-5xl font-extrabold mb-4">{{ page.title }}</p>
        <!-- list authors -->
        {% if page.auteurs.size > 1 %}
        {% for auteur in page.auteurs %}
        {% assign author = site.data.authors[auteur] %}
        {% if author.name %}
        <a href="{{ '/author/' | append: auteur | append: '/index.html' | relative_url }}">
          {% include author_bio.html %}
        </a>
        {% endif %}
        {% endfor %}
        {% else %}
        {% assign author = site.data.authors[page.author] %}
        {% if author.name %}
        <a href="{{ '/author/' | append: page.author | append: '/index.html' | relative_url }}">
          {% include author_bio.html %}
        </a>
        {% endif %}
        {% endif %}
      </div>
      <div class="text-gray-400 mb-2">
        <span class="mr-2">Publié le {{ page.date | date: "%d/%m/%Y" }}</span>
	{% unless page.vimeo-id %}
	•<span class="ml-2">Temps de lecture : {{ content | reading_time | pluralize: "minute" }}</span>
        {% endunless %}
      </div>
  
    </div>
  
    <!-- Image Block -->
    <div
      class="order-1 md:order-2 col-span-12 md:col-span-6 flex justify-center items-center rounded-lg shadow-md bg-white">
      <div class="h-72 flex items-center justify-center">
        <img src="{{ '/images/vignettes/' | append: page.vignette | relative_url }}" alt="Description"
          class="object-cover max-h-full">
      </div>
    </div>
  </div>
  
  <!-- Main Content and Sidebar -->
  <div class="grid grid-cols-{% if page.categories contains 'video' %}15{% else %}12{% endif %} gap-4 mt-4">
   <div class="bg-white col-span-12 md:col-span-9 p-8 rounded-xl shadow-lg overflow-hidden
                prose lg:prose-lg
                prose-table:text-lg
                prose-tr:text-lg
                prose-td:pr-2
                prose-td:pl-2
                prose-td:text-lg">
      {{content}}
      {% if page.vimeo-id %}
      {{page.vimeo-id | prepend: 'video::' | append: '[vimeo,640,480]' | asciidocify}}
      {% endif %}
    </div>

    <!-- Table of Content -->
    {% unless page.categories contains 'video' %}
    <div class="col-span-12 sm:col-span-3">
      <div class="hidden md:block sticky bg-white top-10 max-h-screen overflow-auto p-4 rounded-xl shadow-lg">
        {% if page.toc %}
        <p class="text-xl text-navysciam font-bold">Sommaire :</p>
        <hr class="my-4 bg-zinc-200" />
        <nav id="toc" class="toc  
                    prose-pre:font-sans
                    prose-table:font-sans
                    prose-table:text-lg
                    prose-thead:font-sans
                    prose-td:font-sans
                    prose-td:text-lg
                    prose-td:p-2
                    prose-li:font-sans
                    prose-li:text-lg
                    prose-ul:text-md
                    prose-li:text-navysciam">
          {{ content | toc_only }}
        </nav>
        {% endif %}
      </div>
    </div>
    {% endunless %}
  </div>

<div class="entry-labels"><span class="labels-label">Tags:</span>
{% if page.tags.size > 0 %}{% for tag in page.tags %}{% assign tagSlug = tag | downcase | slugify: "raw" %}
<a class="label-link" href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" rel="tag">#{{ tag }}</a>
{% endfor %}{% endif %}
</div>
	
<footer class="post-footer">
<!-- Related Post -->
{% assign size = site.related_posts | size %}
  {% if size != 0 %}
  <div id="related-wrap" class="show-ify">
    <div class="title-wrap related-title">
      <span class="title"><i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>You might like</span>
    </div>
    <div class="supermag-pro-related-content">
      <div class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <div class="related-item post item-{{ forloop.index0 }}">
          <a title="{{ post.title }}" class="entry-image-wrap is-image" href="{{ post.url | relative_url }}">
        {% if post.vignette %}
        {% assign bg_url = '/images/vignettes/' | append: post.vignette | relative_url %}
            <span class="entry-thumb lazy-ify" data-image="{{ bg_url }}" style="background-image:url({{ bg_url }})"></span>
            {% endif %}
          </a>
          <div class="entry-header">
            <h2 class="entry-title"><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
<!-- End Related Post -->
</footer>
	
<div class="post-nav">
{% if page.previous.url %}<a class="post-nav-newer-link" href="{{ page.next.url | relative_url }}" id="Blog1_post-nav-newer-link">Previous Post</a>{% endif %}
{% if page.next.url %}<a class="post-nav-older-link" href="{{page.next.url | relative_url}}" id="Blog1_post-nav-older-link">Next Post</a>{% endif %}
</div>


</div>


{% include ads/footer-ads-wrap.html %}
