<div class="widget HTML no-style" data-version="2" id="HTML2">
<div class="widget-content">
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js" crossorigin="anonymous"></script>
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    googletag.defineSlot('/23299696991/mmfooty-sidebar', [[300, 250], [300, 600]], 'div-gpt-ad-1746624005082-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>

  <!-- /23299696991/mmfooty-sidebar -->
<div id='div-gpt-ad-1746624005082-0' style='min-width: 300px; min-height: 250px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1746624005082-0'); });
  </script>
</div>
  
</div>
</div>
